/* @media screen and (min-width: 700px) {
  .mainNav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .brandList ol {
    column-count: 2;
  }
}

body {
  max-width: 100%;
} */

/*ProductList*/
/* .productlist main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

img {
  display: block;
  max-width: 100%;
  height: 30vw;
}

h2 {
  font-family: "Raleway";
  font-weight: 100;
  font-size: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}

h3 {
  color: black;
  margin-bottom: 1em;
  margin-top: 1.1rem;
  font-weight: 300;
  font-family: "Raleway";
}

p {
  color: black;
  margin-bottom: 1em;
  margin-top: 1.1rem;
  font-weight: 100;
  font-family: "Raleway";
}

article {
  padding: 1em;
}

@media screen and (min-width: 1000px) {
  .product main {
    grid-template-columns: 1fr 310px;
  }
  .info {
    order: 0;
  }
  .purchaseBox {
    order: 2;
    transform: translate(-50px, -100px);
  }
}
 */

:root {
  --off-color: red;
}
html {
  scroll-behavior: smooth;
}
.mainNav h1 span {
  display: inline-block;
  transform: scaleX(-1);
  color: var(--off-color);
}
.mainNav > * {
  margin: 0;
}
@media screen and (min-width: 700px) {
  .mainNav {
    display: flex;
    align-items: center;
  }
}

.mainNav h1 {
  margin-right: auto;
  padding: 2rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
}

/*Category*/
.letterLinks ol {
  margin-top: 1rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-family: "Raleway";
}
.brandList ol {
  list-style-type: none;
}
.brandList li {
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.brandList a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.brandList li::after {
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  transition: all 0.3s;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path fill="none" stroke="white" d="M.8 12.87l7.5-6-7.5-6"></path></svg>');
  background-repeat: no-repeat;
  /* url('data:image/svg+xml;utf8,<svg class="svg-arrowRight" viewBox="0 0 9 14"><path fill="none" stroke="#979797" d="M.8 12.87l7.5-6-7.5-6"></path></svg>'); */
}
.brandList li:hover {
  background: #d8d8d8;
  transition: transform 0.3s;
}
.brandList li:hover::after {
  transform: translateX(8px);
}

@media screen and (min-width: 800px) {
  .brandList ol {
    column-count: 2;
  }
}

/*ProductList*/
.productlist main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
}
.productlist main h2 {
  grid-column: 1/-1;
}
.productlist article h3 {
  font-size: 1rem;
  flex-grow: 3;
  font-family: "Raleway";
}
.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
  font-family: "Raleway";
}
.subtle {
  color: darkgray;
}
.productlist article {
  display: flex;
  flex-direction: column;
}
.productlist article.soldOut img {
  opacity: 0.5;
}
.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}
.productlist article .discounted,
.productlist article .price span {
  display: none;
}
.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}
.discounted > p {
  margin-bottom: 0;
}
.productlist article.onSale .price span {
  display: initial;
}
.productlist article button {
  margin-top: auto;
}
.productlist article {
  margin-bottom: 1rem;
}
.discounted p:last-child {
  background: var(--off-color);
  padding: 0.2rem;
}

/*Product*/
.breadcrumbs {
  list-style-type: none;
  display: flex;
}
.breadcrumbs li::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  content: "";
  transition: all 0.3s;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 14"><path fill="none" stroke="white" d="M.8 12.87l7.5-6-7.5-6"></path></svg>');
  background-repeat: no-repeat;
  /* url('data:image/svg+xml;utf8,<svg class="svg-arrowRight" viewBox="0 0 9 14"><path fill="none" stroke="#979797" d="M.8 12.87l7.5-6-7.5-6"></path></svg>'); */
}
.breadcrumbs li:last-child::after {
  background: none;
}
.purchaseBox {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
}
.info {
  padding: 1rem;
}
.product select {
  min-width: 100px;
}
.product main {
  display: grid;
}
.product main .breadcrumbs,
.product main img {
  grid-column: 1/-1;
}
.purchaseBox form label {
  gap: 1rem;
}
.purchaseBox button {
  display: block;
  margin-top: 1rem;
  width: 100%;
}
dt {
  font-weight: 700;
  font-family: "Raleway";
}
@media screen and (min-width: 1000px) {
  .product main {
    grid-template-columns: 1fr 310px;
  }
  .info {
    order: 0;
  }
  .purchaseBox {
    order: 2;
    transform: translate(-50px, -100px);
  }
}
