*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --off-color: red;
}
html {
  scroll-behavior: smooth;
}
.mainNav h1 span {
  display: inline-block;
  transform: scaleX(-1);
  color: var(--off-color);
}

body {
  padding: 2rem;
}

main {
  /* Fallback layout for browsers that do not support grid - see https://caniuse.com/#search=grid */
  max-width: 500px;
  margin: 0 auto;
}

article {
  margin: 1rem 0;
}

/* CSS that applies to browsers that support grid */
@supports (display: grid) {
  main {
    max-width: none;
    margin: 0;
  }

  article {
    margin: 0;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Keep adding new columns - even if theres is no content for them. content does not alwys take up full width */
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    /* Don't add more columns than theres is content for. && +content "always" take full width */
    grid-gap: 1rem;
  }
} /* END @supports grid */

article {
  display: flex;
  flex-flow: column;
}

article > img {
  order: -1;
  align-self: center;
}

/* has a default of stretched - we don't do that on images - remember: max-width: 100%; height: auto */

article {
  padding: 2rem;
}

article > h1 {
  margin: 1rem 1rem 0;
}

article > ul {
  margin: 0 0 1rem;
}

article > p {
  margin: 0.25em 1rem 1rem;
}

main {
  font-family: Avenir, Roboto, Helvetica, san-serif;
  font-size: 80%;
}

/* article {
  border: 1px solid black;
  border-radius: 1rem;
} */

article > button {
  margin-top: auto;
  /* to push it to the bottom of the box & margin-top: auto takes the available space */
  background: teal;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
}

/*
https://labs.jensimmons.com/2017/03-009.html
view-source:https://labs.jensimmons.com/2017/03-009.html
https://labs.jensimmons.com/2017/css/03-009.css
*/

.letterLinks ol {
  margin-top: 1rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-family: "Raleway";
}

.product {
  display: grid;
  margin-left: 5em;
}

h3 {
  font-size: 0.8rem;
  font-family: "Raleway";
  color: darkgrey;
}

h2 {
  font-size: 1rem;

  font-family: "Raleway";
  color: black;
}

p {
  font-size: 0.8rem;
  font-family: "Raleway";
}

.readmore {
  font-size: 0.8rem;
  font-family: "Raleway";
  color: black;
  text-align: end;
}

.price {
  font-size: 1rem;
  font-family: "Raleway";
  color: black;
  text-align: left;
}

/* Product List */

.productlist article {
  display: flex;
  flex-direction: column;
}
.productlist article.soldOut img {
  opacity: 0.5;
}
.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  color: var(--background-color);
  padding: 1rem;
}
.productlist article .discounted,
.productlist article .price span {
  display: none;
}
.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}
.discounted > p {
  margin-bottom: 0;
}
.productlist article.onSale .price span {
  display: initial;
}
.productlist article button {
  margin-top: auto;
}
.productlist article {
  margin-bottom: 1rem;
}
.discounted p:last-child {
  background: var(--off-color);
  padding: 0.2rem;
}

.container {
  margin: 20px auto;
  margin-left: 150px;
  width: 1000px;
  height: 500px;

  display: grid;
  grid-template-columns: 500px 500px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.box {
  background-color: rgb(137, 137, 148);
  padding: 20px;
  border-radius: 10px;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.yellowbox {
  background-color: #eeda69;
  padding: 20px;
  border-radius: 10px;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.orangebox {
  background-color: #eb8117;
  padding: 20px;
  border-radius: 10px;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.bluebox {
  background-color: #28466b;
  padding: 20px;
  border-radius: 10px;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.greenbox {
  background-color: #acb853;
  padding: 20px;
  border-radius: 10px;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  text-decoration-line: none;
}

.greenbox a {
  text-decoration-line: none;
}

.yellowbox a {
  text-decoration-line: none;
}

.bluebox a {
  text-decoration-line: none;
}

.orangebox a {
  text-decoration-line: none;
}
